* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-family: "Gotham-Bold",Arial,sans-serif;
}
/*section tabs*/
.subtabs{
  display: none;
}

section{
  width: 100%;
  background-color: blue;
}

.tabs > ul > li{
  float: right;
  margin: 10px;
  font-size: 50px;
  color: white;
}
